main :last-child {
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
}
.project :last-child {
  padding: 10px 10px 30px 10px;
  max-width: 350px;
}
.project :last-child :first-child {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  gap: 20px;
  background-color: rgba(9, 141, 230, 0.315);
  padding: 30px;
}
footer :first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer :first-child :last-child {
  display: flex;
  gap: 10px;
}
footer :last-child {
  object-fit: contain;
  max-width: 400px;
}
