.icon {
  width: 50px;
}
header {
  padding: 30px 20px;
  display: flex;
  gap: 30px;
}
.profile {
  min-width: 400px;
  min-height: 400px;
  background-image: url(./public/profile.png);
  background-position: center;
  text-align: center;
  position: relative;
}
.profile h1 {
  color: rgb(19, 218, 168);
  position: absolute;
  bottom: -0px;
  left: 70px;
  align-self: center;
}
.about {
  padding-top: 30px;
  display: flex;
  background-color: aqua;
  flex-direction: column;
  gap: 10px;
}
header :last-child :last-child {
  display: flex;
  align-self: right;
}
main :last-child {
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}
.project :last-child {
  padding: 10px 10px 30px 10px;
  max-width: 350px;
}
.project :last-child :first-child {
  display: flex;
  justify-content: space-between;
}
footer {
  display: flex;
  gap: 20px;
  background-color: rgba(9, 141, 230, 0.315);
  padding: 30px;
}
footer :first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer :first-child :last-child {
  display: flex;
  gap: 10px;
}
footer :last-child {
  object-fit: contain;
  max-width: 400px;
}
